$primary-color: #C70039;

html {
  background-color: black;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  transition: 3s opacity;
}

header {
  background-color: green;
  height: 135px;
  h1 {
    text-align: center;
    font-size: 42px;
    color: white;
    line-height: 3;
  }
}

main {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  button {
    background-color: orange;
    border-radius: 5px;
  }

  h1 {
    font-size: 42px;
  }
}



.col {
  width: 45%;
  height: 60vh;
  min-height: 300px;
  margin: 4%;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col"] {
        width: 94%;
        display: block;
        background-color: yellow;
    }
    body main {
      display: block;
    }
}

#time-bank {
  .col-header {
    background-color: purple;
  }

  .col-mid {
    background-color: brown;
    height: 480px;
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      width: 100px;
      height: 100%;
      #total-seconds, #total-minutes {
        display: grid;
        grid-template: repeat(12, 1fr) / repeat(5, 1fr);
        li {
          border-radius: 7px;
          width: 19px;
          height: 19px;
          margin: auto;
        }
      }
      #total-seconds {
        background-color: #e6ffe6;
        height: 50%;
      }
      #total-minutes {
        background-color: #e6f5ff;
        height: 50%;
      }
    }
    #total-hours {
        background-color: #ffcc80;
        width: 511px;
        height: 100%;

        display: grid;
        grid-template: repeat(10, 1fr) / repeat(10, 1fr);
        li {
          border-radius: 1px;
          width: 4px;
          height: 4px;
          margin: auto;
        }
      }
  }

  .col-footer {
    background-color: orange;
  }
}

#current-session {
  .col-header {
    background-color: pink;
  }

  .col-mid {
    background-color: blue;
    height: 480px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    #seconds, #minutes {
      display: grid;
      grid-template: repeat(12, 1fr) / repeat(5, 1fr);
      li {
        border-radius: 7px;
        width: 38px;
        height: 38px;
        margin: auto;
      }
    }

    #seconds {
      background-color: #e6ffe6;
    }

    #minutes {
      background-color: #e6f5ff;
    }
    
    #hours {
      background-color: #f0e6ff;
      display: grid;
      grid-template: repeat(5, 1fr) / repeat(2, 1fr);
      li {
        border-radius: 7px;
        width: 95px;
        height: 95px;
        margin: auto;
      }
    }
  }

  .col-footer {
    background-color: gray;
  }
}

.col-header {

}

.col-mid {

}

.col-footer {

}

.col-header, .col-footer {
  height: 75px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
  z-index: 3;
  transition: 5s;
  opacity: 1;
}

.hidden {
  opacity: 0;
  transition: 5s;
}

